<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="user">Usuario</label>
            <input type="text" class="form-control" id="user" placeholder="Usuario" />
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="text" class="form-control" id="password" />
          </div>
        </form>
        <div class="row mt-3">
          <button type="button" class="btn btn-link btn-lg btn-block" data-toggle="modal" data-target="#recoverPassword">
            Recuperar clave
          </button>
        </div>
        <div class="row mt-3">
          <button type="button" class="btn btn-primary btn-lg btn-block">
            Ingresar
          </button>
        </div>
        <div class="row mt-3">
          <button type="button" class="btn btn-light btn-lg btn-block">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Add modal -->
<div class="modal fade" id="recoverPassword" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Recuperar clave</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="usuario">Email de recuperacion</label>
            <input type="text" class="form-control" id="usuario">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onSubmit()">Enviar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>