<div class="row">
    <h1>Modulo operarios <span class="badge badge-secondary"></span></h1>
</div>
<div class="row mt-3">
    <div class="col-md-3">
        <!-- Parte 1: Pistón -->
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Pistón</label>
            <input type="number" class="form-control" placeholder="Cantidad" id="cantidad1">
        </div>

        <!-- Parte 2: Cilindro -->
        <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck2">
            <label class="custom-control-label" for="customCheck2">Cilindro</label>
            <input type="number" class="form-control" placeholder="Cantidad" id="cantidad2">
        </div>

        <!-- Parte 3: Biela -->
        <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck3">
            <label class="custom-control-label" for="customCheck3">Biela</label>
            <input type="number" class="form-control" placeholder="Cantidad" id="cantidad3">
        </div>

        <!-- Parte 4: Cárter -->
        <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck4">
            <label class="custom-control-label" for="customCheck4">Cárter</label>
            <input type="number" class="form-control" placeholder="Cantidad" id="cantidad4">
        </div>

        <!-- Parte 5: Árbol de levas -->
        <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck5">
            <label class="custom-control-label" for="customCheck5">Árbol de levas</label>
            <input type="number" class="form-control" placeholder="Cantidad" id="cantidad5">
        </div>

        <!-- Parte 6: Válvula de admisión -->
        <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck6">
            <label class="custom-control-label" for="customCheck6">Válvula de admisión</label>
            <input type="number" class="form-control" placeholder="Cantidad" id="cantidad6">
        </div>

        <!-- Parte 7: Válvula de escape -->
        <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck7">
            <label class="custom-control-label" for="customCheck7">Válvula de escape</label>
            <input type="number" class="form-control" placeholder="Cantidad" id="cantidad7">
        </div>

        <!-- Parte 8: Árbol de transmisión -->
        <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck8">
            <label class="custom-control-label" for="customCheck8">Árbol de transmisión</label>
            <input type="number" class="form-control" placeholder="Cantidad" id="cantidad8">
        </div>
    </div>
    <div class="col-md-3">
        <!-- Parte 9: Bujía -->
        <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck9">
            <label class="custom-control-label" for="customCheck9">Bujía</label>
            <input type="number" class="form-control" placeholder="Cantidad" id="cantidad9">
        </div>
        <!-- Parte 10: Polea -->
        <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck10">
            <label class="custom-control-label" for="customCheck10">Polea</label>
            <input type="number" class="form-control" placeholder="Cantidad" id="cantidad10">
        </div>
        <!-- Parte 11: Radiador -->
        <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck11">
            <label class="custom-control-label" for="customCheck11">Radiador</label>
            <input type="number" class="form-control" placeholder="Cantidad" id="cantidad11">
        </div>

        <!-- Parte 12: Filtro de aceite -->
        <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck12">
            <label class="custom-control-label" for="customCheck12">Filtro de aceite</label>
            <input type="number" class="form-control" placeholder="Cantidad" id="cantidad12">
        </div>

        <!-- Parte 13: Cojinete -->
        <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck13">
            <label class="custom-control-label" for="customCheck13">Cojinete</label>
            <input type="number" class="form-control" placeholder="Cantidad" id="cantidad13">
        </div>

        <!-- Parte 14: Embrague -->
        <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck14">
            <label class="custom-control-label" for="customCheck14">Embrague</label>
            <input type="number" class="form-control" placeholder="Cantidad" id="cantidad14">
        </div>

        <!-- Parte 15: Bomba de agua -->
        <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck15">
            <label class="custom-control-label" for="customCheck15">Bomba de agua</label>
            <input type="number" class="form-control" placeholder="Cantidad" id="cantidad15">
        </div>
        <!-- Parte 16: Junta de culata -->
        <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck16">
            <label class="custom-control-label" for="customCheck16">Junta de culata</label>
            <input type="number" class="form-control" placeholder="Cantidad" id="cantidad16">
        </div>

    </div>
    <div class="col-md-3">
        <!-- Parte 17: Sistema de escape -->
        <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck17">
            <label class="custom-control-label" for="customCheck17">Sistema de escape</label>
            <input type="number" class="form-control" placeholder="Cantidad" id="cantidad17">
        </div>

        <!-- Parte 18: Cadena de distribución -->
        <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck18">
            <label class="custom-control-label" for="customCheck18">Cadena de distribución</label>
            <input type="number" class="form-control" placeholder="Cantidad" id="cantidad18">
        </div>

        <!-- Parte 19: Sensor de oxígeno -->
        <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck19">
            <label class="custom-control-label" for="customCheck19">Sensor de oxígeno</label>
            <input type="number" class="form-control" placeholder="Cantidad" id="cantidad19">
        </div>
        <!-- Parte 20: Árbol de equilibrado -->
        <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck20">
            <label class="custom-control-label" for="customCheck20">Árbol de equilibrado</label>
            <input type="number" class="form-control" placeholder="Cantidad" id="cantidad20">
        </div>

        <!-- Parte 21: Polea del cigüeñal -->
        <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck21">
            <label class="custom-control-label" for="customCheck21">Polea del cigüeñal</label>
            <input type="number" class="form-control" placeholder="Cantidad" id="cantidad21">
        </div>

        <!-- Parte 22: Sistema de inyección -->
        <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck22">
            <label class="custom-control-label" for="customCheck22">Sistema de inyección</label>
            <input type="number" class="form-control" placeholder="Cantidad" id="cantidad22">
        </div>

        <!-- Parte 23: Bomba de combustible -->
        <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck23">
            <label class="custom-control-label" for="customCheck23">Bomba de combustible</label>
            <input type="number" class="form-control" placeholder="Cantidad" id="cantidad23">
        </div>

        <!-- Parte 24: Válvula EGR -->
        <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck24">
            <label class="custom-control-label" for="customCheck24">Válvula EGR</label>
            <input type="number" class="form-control" placeholder="Cantidad" id="cantidad24">
        </div>


    </div>
    <div class="col-md-3">
        <!-- Parte 25: Termostato -->
        <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck25">
            <label class="custom-control-label" for="customCheck25">Termostato</label>
            <input type="number" class="form-control" placeholder="Cantidad" id="cantidad25">
        </div>

        <!-- Parte 26: Sistema de encendido -->
        <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck26">
            <label class="custom-control-label" for="customCheck26">Sistema de encendido</label>
            <input type="number" class="form-control" placeholder="Cantidad" id="cantidad26">
        </div>

        <!-- Parte 27: Sonda lambda -->
        <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck27">
            <label class="custom-control-label" for="customCheck27">Sonda lambda</label>
            <input type="number" class="form-control" placeholder="Cantidad" id="cantidad27">
        </div>

        <!-- Parte 28: Turbocompresor -->
        <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck28">
            <label class="custom-control-label" for="customCheck28">Turbocompresor</label>
            <input type="number" class="form-control" placeholder="Cantidad" id="cantidad28">
        </div>

        <!-- Parte 29: Correa de distribución -->
        <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck29">
            <label class="custom-control-label" for="customCheck29">Correa de distribución</label>
            <input type="number" class="form-control" placeholder="Cantidad" id="cantidad29">
        </div>

        <!-- Parte 30: Aceite del motor -->
        <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck30">
            <label class="custom-control-label" for="customCheck30">Aceite del motor</label>
            <input type="number" class="form-control" placeholder="Cantidad" id="cantidad30">
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <div class="form-group">
                    <label for="estado">Estado</label>
                    <select class="form-control" id="estado">
                        <option>Ingresado</option>
                        <option>En progreso</option>
                        <option>Rectificado</option>
                    </select>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row mt-3 justify-content-end">
    <button type="button" class="btn btn-primary btn-lg">Actualizar</button>
</div>