<div class="row">
    <h1>Rectificados <span class="badge badge-secondary"></span></h1>
</div>
<div class="row">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>
                    <button class="btn btn-lg" style="background-color:transparent;">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-lg" style="background-color:transparent;">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>

                   
                </td>
            </tr>
        </tbody>
    </table>
</div>