<!-- <h1>Angular Router App</h1>
<nav>
  <ul>
    <li><a routerLink="/rectificado-component" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a></li>
    <li><a routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page">Second Component</a></li>
  </ul>
</nav> -->

<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
        <h3>SGM</h3>
      </a>
    </div>
    <ul class="list-unstyled components">
      <!-- <p>Dummy Heading</p> -->
      <!-- <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Rectificados</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a href="#">Home 1</a>
          </li>
          <li>
            <a href="#">Home 2</a>
          </li>
          <li>
            <a href="#">Home 3</a>
          </li>
        </ul>
      </li> -->
      <li>
        <a routerLink="/usuarios" routerLinkActive="active" ariaCurrentWhenActive="page">Gestion de Usuarios
        </a>
      </li>
      <li>
        <a routerLink="/grupos" routerLinkActive="active" ariaCurrentWhenActive="page">Gestion de Grupos
        </a>
      </li>
      <li>
        <a routerLink="/rectificados" routerLinkActive="active" ariaCurrentWhenActive="page">Gestion de Rectificados
        </a>
      </li>
      <li>
        <a routerLink="/moduloOperarios" routerLinkActive="active" ariaCurrentWhenActive="page">Modulo Operario
        </a>
      </li>
      <li>
        <a routerLink="/pedidos" routerLinkActive="active" ariaCurrentWhenActive="page">Gestion de Pedidos
        </a>
      </li>
      <li>
        <a routerLink="/ventas" routerLinkActive="active" ariaCurrentWhenActive="page">Gestion de Ventas
        </a>
      </li>
      <li>
        <a routerLink="/envios" routerLinkActive="active" ariaCurrentWhenActive="page">Gestion de Envíos
        </a>
      </li>
      <!-- <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li> -->
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>