<div class="row">
    <h1>Modulo operarios <span class="badge badge-secondary"></span></h1>
</div>
<div class="row">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nro de recitificado</th>
                <th scope="col">Motor/es</th>
                <th scope="col">Insumos</th>
                <th scope="col">Fecha Ingreso</th>
                <th scope="col">Estado</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="col">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>
                    <div class="col-md-3">
                        <!-- <a [routerLink]="['updateMotor']">
                            <button class="btn btn-outline-warning">
                                <i class="fa fa-wrench" aria-hidden="true"></i>
                            </button>
                        </a> -->
                        <button class="btn btn-outline-warning" (click)="navigateToUpdateMotor()">
                            <i class="fa fa-wrench" aria-hidden="true"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>