/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
// @import '../node_modules/bootstrap/scss/bootstrap.scss';
// @import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}